@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0ebe3;
  font-family: "Roboto Slab", serif;
}
body nav {
  background-color: #7d9d9c;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body nav h2 #home {
  font-size: 18px;
  color: #f0ebe3;
  text-align: center;
  margin: 15px;
  display: block;
  text-decoration: none;
}
body nav #topAddButton {
  border: 1px solid #576f72;
  border-radius: 5px;
  background-color: #576f72;
  color: #f0ebe3;
  font-family: "Roboto Slab", serif;
  padding: 10px;
  margin: 5px 5px 5px 0;
}
body nav #topAddButton:hover {
  color: #e4dccf;
  box-shadow: 0px 5px 10px 0px rgb(87, 111, 114);
  cursor: pointer;
}
body nav #topAddButton:active {
  color: #7d9d9c;
}
body nav #addNewBook {
  text-align: center;
}
body nav #searchForm {
  display: flex;
  margin: 5px 5px 5px 0;
}
body nav #searchForm #search {
  border: 1px solid #576f72;
  border-radius: 5px 0 0 5px;
  padding-left: 5px;
  font-family: "Roboto Slab", serif;
}
body nav #searchForm #searchButton {
  background-color: #576f72;
  border: 1px solid #576f72;
  border-radius: 0 5px 5px 0;
  color: #f0ebe3;
  font-family: "Roboto Slab", serif;
  padding: 10px;
}
body nav #searchForm #searchButton:hover {
  color: #e4dccf;
  box-shadow: 0px 5px 10px 0px rgb(87, 111, 114);
  cursor: pointer;
}
body nav #searchForm #searchButton:active {
  color: #7d9d9c;
}
body nav a {
  display: none;
}
body nav .sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body nav .sort h4 {
  margin: 10px;
  color: #576f72;
}
body nav .sort label {
  margin: 0px;
}
body nav .sort label:hover {
  color: #f0ebe3;
  cursor: pointer;
}
body nav .sort select {
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
  font-family: "Roboto Slab", sans-serif;
  color: #576f72;
  width: 100px;
}
body #myLinks {
  display: none;
}
body .addmaster {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
body .addmaster .addForm {
  background-color: #e4dccf;
  display: flex;
  justify-content: center;
}
body .addmaster .addForm #add {
  min-width: 250px;
  width: 450px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  color: #576f72;
}
body .addmaster .addForm #add .title,
body .addmaster .addForm #add .author,
body .addmaster .addForm #add .category,
body .addmaster .addForm #add .cover {
  display: flex;
  flex-direction: column;
}
body .addmaster .addForm #add .title input,
body .addmaster .addForm #add .author input,
body .addmaster .addForm #add .category input,
body .addmaster .addForm #add .cover input {
  border: 1px solid #7d9d9c;
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
  font-family: "Roboto Slab", serif;
}
body .addmaster .addForm #add .yearandprice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .addmaster .addForm #add .yearandprice input {
  border: 1px solid #7d9d9c;
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
  font-family: "Roboto Slab", serif;
}
body .addmaster .addForm #add .yearandprice .year,
body .addmaster .addForm #add .yearandprice .price {
  display: flex;
  flex-direction: column;
}
body .addmaster .addForm #add #addButton {
  padding: 10px;
  margin: 10px 0;
  background-color: #576f72;
  border: 1px solid #576f72;
  border-radius: 5px;
  color: #f0ebe3;
  font-family: "Roboto Slab", serif;
}
body .addmaster .addForm #add #addButton:hover {
  cursor: pointer;
}
body .addmaster.hidden {
  height: 100%;
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}
body h1 {
  text-align: center;
  color: #576f72;
  margin-top: 10px;
}
body #noBookText {
  text-align: center;
}
body .container {
  min-width: 302px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .container .book {
  background-color: #e4dccf;
  margin: 10px;
  width: 40%;
  min-width: 400px;
  max-width: 500px;
  display: flex;
}
body .container .book .topContainer {
  padding: 10px 0 10px 10px;
  width: 50%;
}
body .container .book .topContainer img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  margin: auto;
}
body .container .book .bottomContainer {
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
body .container .book .bottomContainer .title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
body .container .book .bottomContainer .author,
body .container .book .bottomContainer .category,
body .container .book .bottomContainer .year,
body .container .book .bottomContainer .price {
  font-weight: 400;
  text-align: center;
}
body .container .book .bottomContainer .buttons {
  display: flex;
  width: 100%;
}
body .container .book .bottomContainer .buttons .bookEdit {
  width: 50%;
  padding: 5px 0;
  background-color: #576f72;
  color: #f0ebe3;
  border: 1px solid #576f72;
  border-radius: 5px;
  margin: 5px 5px 5px 10px;
  font-family: "Roboto Slab", serif;
}
body .container .book .bottomContainer .buttons .bookEdit:hover {
  box-shadow: 0px 5px 10px 0px rgb(87, 111, 114);
}
body .container .book .bottomContainer .buttons .bookEdit:active {
  color: #7d9d9c;
}
body .container .book .bottomContainer .buttons .bookDelete {
  width: 50%;
  padding: 5px 0;
  background-color: #576f72;
  color: #f0ebe3;
  border: 1px solid #576f72;
  border-radius: 5px;
  margin: 5px 10px 5px 5px;
  font-family: "Roboto Slab", serif;
}
body .container .book .bottomContainer .buttons .bookDelete:hover {
  box-shadow: 0px 5px 10px 0px rgb(87, 111, 114);
}
body .container .book .bottomContainer .buttons .bookDelete:active {
  color: #7d9d9c;
}

@media screen and (max-width: 585px) {
  body nav #topAddButton,
  body nav #addNewBook {
    display: none;
  }
  body nav #searchForm #search,
  body nav #searchForm #searchButton {
    display: none;
  }
  body nav .sort h4,
  body nav .sort label,
  body nav .sort select {
    display: none;
  }
  body nav .icon {
    display: block;
    color: #f0ebe3;
    font-size: 25px;
  }
  body #myLinks .innerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body #myLinks .innerContainer #addButtonMobile {
    margin: 20px;
    padding: 10px;
    border: 1px solid #576f72;
    background-color: #576f72;
    border-radius: 5px;
    color: #f0ebe3;
    font-family: "Roboto Slab", serif;
  }
  body #myLinks .innerContainer #addButtonMobile:hover {
    box-shadow: 0px 5px 10px 0px rgb(87, 111, 114);
    cursor: pointer;
  }
  body #myLinks .innerContainer #addButtonMobile:active {
    color: #7d9d9c;
  }
  body #myLinks .innerContainer #searchingForm {
    display: flex;
    align-items: center;
  }
  body #myLinks .innerContainer #searchingForm #searchMobile {
    padding: 10px;
    border: 1px solid #7d9d9c;
    border-radius: 5px 0 0 5px;
    font-family: "Roboto Slab", serif;
  }
  body #myLinks .innerContainer #searchingForm #searchingButton {
    padding: 10px;
    border: 1px solid #576f72;
    border-radius: 0 5px 5px 0;
    font-family: "Roboto Slab", serif;
    background-color: #576f72;
    color: #f0ebe3;
  }
  body #myLinks .innerContainer #searchingForm #searchingButton:hover {
    box-shadow: 0px 5px 10px 0px rgb(87, 111, 114);
    cursor: pointer;
  }
  body #myLinks .innerContainer #searchingForm #searchingButton:active {
    color: #7d9d9c;
  }
  body #myLinks .innerContainer .sorting {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #576f72;
    margin: 20px;
  }
  body #myLinks .innerContainer .sorting #mobileAuthorSelect,
  body #myLinks .innerContainer .sorting #mobileSortCategory,
  body #myLinks .innerContainer .sorting #mobileSortPrice {
    margin: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #576f72;
    border-radius: 5px;
    font-family: "Roboto Slab", serif;
    color: #576f72;
  }
  body #myLinks .innerContainer .sorting #sortAll {
    margin: 5px;
  }
  body #myLinks .innerContainer .sorting p:hover {
    color: #7d9d9c;
    cursor: pointer;
  }
}
@media screen and (max-width: 420px) {
  body .container .book {
    flex-direction: column;
    align-items: center;
    background-color: #f0ebe3;
    min-width: 250px;
  }
  body .container .book .topContainer {
    padding: 10px 10px 0 10px;
    background-color: #e4dccf;
    width: 90%;
  }
  body .container .book .bottomContainer {
    margin-top: 0px;
    border: 10px solid #e4dccf;
    width: 90%;
  }
  body .container .book .bottomContainer h4 {
    margin: 5px 0;
  }
  body .container .book .bottomContainer .buttons {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */