@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&display=swap");

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f0ebe3;
	font-family: "Roboto Slab", serif;

	nav {
		height: 100px;
		background-color: #7d9d9c;
		display: flex;
		justify-content: space-around;
		align-items: center;

		h2 {
			font-size: 18px;
			color: #f0ebe3;
		}
		button {
			border: 1px solid #576f72;
			border-radius: 5px;
			background-color: #576f72;
			color: white;
			padding: 10px;
		}
	}
	.addForm {
		height: 250px;
		background-color: #e4dccf;
		display: flex;
		justify-content: center;

		#add {
			width: 60%;
			display: flex;
			flex-direction: column;

			.yearandprice {
				display: flex;
				justify-content: space-between;

				.year {
					width: 50%;
				}
				.price {
					text-align: right;
					width: 50%;
				}
			}
		}
	}

	h1 {
		text-align: center;
	}

	.container {
		min-width: 302px;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;

		.book {
			background-color: #e4dccf;

			margin: 10px;
			width: 40%;
			min-width: 400px;
			max-width: 500px;
			display: flex;

			.topContainer {
				padding: 10px;
				width: 50%;

				img {
					display: block;
					object-fit: cover;
					height: 100%;
					width: 100%;
					margin: auto;
				}
			}

			.bottomContainer {
				margin: 10px 10px 10px 0px;
				background-color: white;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				width: 50%;

				.title {
					font-weight: 700;
					font-size: 20px;
					text-align: center;
				}
				.author,
				.category,
				.year,
				.price {
					font-weight: 400;
					text-align: center;
				}

				.buttons {
					display: flex;
					width: 100%;

					.bookEdit {
						width: 50%;
						padding: 5px 0;
						background-color: #576f72;
						color: white;
						border: 1px solid #576f72;
						border-radius: 5px;
						margin: 5px 5px 5px 10px;
					}
					.bookDelete {
						width: 50%;
						padding: 5px 0;
						background-color: #576f72;
						color: white;
						border: 1px solid #576f72;
						border-radius: 5px;
						margin: 5px 10px 5px 5px;
					}
				}
			}
		}
	}
}
